extends layout

block scripts 
    script(src="/javascripts/lib/moment.js")    
    script(src="/javascripts/lib/jquery-ui/js/jquery-ui-1.10.4.custom.min.js")
    script(src="/javascripts/config.js")    
    if msg
        script alert("#{msg}")

block stylesheets
    link(href="/stylesheets/jquery-ui/base/jquery-ui-1.10.4.custom.css", rel="stylesheet")
    link(href="/stylesheets/config.css", rel="stylesheet")    

block content
    div.content
        h3 效果报表
        div.menu
            ul
                a.link(href="javascript: void(0)")
                    li.border 设置页面
                a.link(href="/forms")
                    li 报表页面
            span.special to       
            span 
                input(type="radio", name="time", value="30")
                | 过去30天
            span 
                input(type="radio", name="time", value="7")
                | 过去7天
            span 
                input(type="radio", name="time", value="3")
                | 今天
            
            select.select
                option 全部应用
                option 来疯直播
            
        div.table
            form(action="/config", method="post")
                table(style="margin-top: 20px")
                    tr
                        td.first 全天预设出价
                        - for (var i = 0; i < 24; i++)
                            td #{i}
                    tr
                        td.firstt 单价
                        - for (var i = 0; i < 24; i++)
                            td
                                input(type="text", name="value#{i}") #{i}
                    tr
                        td.last(colspan="25")
                            input.submit(type="submit", value="提交")
                            i.space 空格
                            input.reset(type="reset", value="重置")
                    tr.tr
                        td
                            input(type="text", name="name", placeholder="平台名称")
                        td
                            input(type="text", name="appusrname", placeholder="平台账号")
                        td
                            input(type="text", name="apppwd", placeholder="平台密码")
                        td
                            input(type="text", name="appname", placeholder="app名称")
                    
                    tr
                        td.td.tdOne
                            input(type="text", class="end", name="end")
                        td.td.tdTwo
                            input(type="text", class="start", name="start")