extends layout

block scripts 
    script(src="/javascripts/lib/jquery-ui/js/jquery-ui-1.10.4.custom.min.js")
    script(src="/javascripts/lib/moment.js")  
    script window.opdata=!{data};
    script(src="/javascripts/forms.js")
    
    
block stylesheets
    link(href="/stylesheets/jquery-ui/base/jquery-ui-1.10.4.custom.css", rel="stylesheet")
    link(href="/stylesheets/forms.css", rel="stylesheet")    

block content
    div.content
        h3 效果报表
        div.menu
            
            ul
                li
                    a(href="/config") 设置页面
                li.border
                    a(href="javascript: void(0)") 报表页面
            
            div 下载报表

            select.selectOne.special
                option(value="hourUse", selected=true) 小时消耗表
                option(value="ctr") ctr表
                option(value="price") 单价
            
            input.date(style="border:1px solid #ddd;")
            span 
                input.days(type="radio", name="days", value="30")
                |过去30天
            span 
                input.days(type="radio", name="days", value="7")
                |过去7天                
            span 
                input.days(type="radio" name="days", value="3", selected=true)
                |今天
            
            select.selectTwo
                option(value="") 全部应用
                if apps
                    each app in apps
                        option(value="")= app
            