doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href='/stylesheets/public.css')
    script(type="text/javascript", scr="/javascripts/lib/require.min.js")
    script(type="text/javascript", src="/javascripts/lib/jquery.js")
    block stylesheets
  body
    block content

    block scripts
