extends layout

block scripts
    script(src="/javascripts/login.js")

block content
    div.content
        div.header
            span.border
            h2 登录
            span.border
        form(action="/register", method="post")
            input#userName(type="text", placeholder= "用户名", name="username")
            input#pwd(type="password", placeholder= "密码", name="pwd")
            input.button#loginSubmit(type="submit", value="登录") 
        a#submit(href="javascript:void(0)") 登录                   
        a(href="/register") 注册
