extends layout

block scripts
    script(src="/public/javascripts/register.js")

block content
    div.content
        div.header
            span.border
            h2 登录
            span.border
        form(action="", method="post")
            input#userName(type="text", placeholder= "用户名", name="user_name")
            input#pwd(type="password", placeholder= "密码", name="pwd")
            input#pwdCheck(type="password", placeholder= "确认密码", name="pwd_check")
            input#registerSubmit(type="submit", class= "button" style="display:none;")
        a#submit(href="javascript:void(0)") 注册
    
